.LeftNavbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: none;
  border: none;
}
div.LeftNavbar.p-menubar.p-component {
  border-radius: none;
}
.surface {
  background-color: rgb(245 241 241 / 98%);
}
.leftsearchBar {
  border-radius: 25px;
  height: 25px;
  border: none;
  box-shadow: 1px 1px 15px 2px rgb(167, 165, 165);
}

/*  */
div.p-sidebar {
  background: #e0e6eeea !important;
}
div.p-sidebar-header {
  display: none;
}
.sidebar {
  margin-top: 6rem;
  /* overflow: scroll; */
}
.singleChatBox:hover {
  box-shadow: 1px 1px 20px 1px rgb(194, 188, 188);
}
div.p-component-overlay-enter {
  animation: none;
}
div.p-sidebar {
  border: none;
  box-shadow: none;
  color: black;
}
.leftSideChatbox {
  border-radius: 0px 25px 25px 25px;
}
.RightSideChatbox {
  border-radius: 25px 25px 0px 25px;
}
.text-xs {
  font-size: 0.6rem;
}
.NewMsgNotification {
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: small;
}
input.p-inputtext{
  background-color: white;
  color: black;
}